**/.bach/workspace
**/.gradle
**/build/
**/target/

doc/project/JigsawQuickStart/.bach/src/Build.java
doc/project/JigsawQuickStartWorld/.bach/src/Build.java

*.args
*.jar

/bach
/bach.bat
/build
/build.bat
