sudo: false
dist: trusty
language: java

matrix:
  include:
  - os: linux
  - os: osx

before_install:
# https://github.com/travis-ci/travis-ci/issues/8408
- unset -v _JAVA_OPTIONS
# https://github.com/travis-ci/travis-ci/issues/8703
- unset -f cd

install:
- . ./install-jdk.sh --verbose --target "target"
- ./install-jdk.sh --verbose

script:
- java --version
- ./build.jsh

after_success:
- cd $TRAVIS_BUILD_DIR/demo/00-bootstrap
- ./bootstrap.jsh

- cd $TRAVIS_BUILD_DIR/demo/01-hello-world
- ./build-01-hello-world.jsh
