dist: xenial
language: java

install:
- java --version

script:
- jshell --execution local ./build.jsh

after_success:
- BACH=${TRAVIS_BUILD_DIR}/src/bach/Bach.java

- java -Debug ${BACH} help

#- cd $TRAVIS_BUILD_DIR/demo/00-bootstrap
#- ./bootstrap.sh

#- cd ${TRAVIS_BUILD_DIR}/demo/jigsaw-quick-start/greetings
#- java -Debug=true ${BACH}

#- cd ${TRAVIS_BUILD_DIR}/demo/jigsaw-quick-start/greetings-world
#- java -Debug=true ${BACH}

#- cd ${TRAVIS_BUILD_DIR}/demo/jigsaw-quick-start/greetings-world-with-main-and-test
#- java -Debug=true ${BACH}
